# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Virtual environments
.env
.venv
venv/
ENV/

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Project specific
neo4j_logs/
neo4j_data/
neo4j_config/
neo4j_plugins/
postgres_data/ 

*.csv
*.json
*.jsonl